header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dimgray;
}

.sign {
  color: #fff;
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247);
}

.modal .cards {
  width: 80%;
  height: 80%;
  background-color: #fff;
  overflow: auto;
}

.counter {
  display: inline-block;
  max-width: 50px;
  min-width: 30px;
  padding: 10px;
}

.modal--active {
  display: flex;
  flex-direction: column;
}

.modal__delete {
  background-color: rgb(253, 1, 1);
  border: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}

.modal__order {
  background-color: rgb(17, 0, 255);
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.order__modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247);
}

.order__modal--active {
  display: flex;
}

.inner-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #fff;
}

.inner__form {
  width: 60%;
}

.inner__form select,
.inner__form input,
.inner__form button {
  width: 100%;
}

.inner__form select {
  margin: 20px;
  padding: 15px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
}

.korzina {
  position: relative;
}

.header__counter {
  position: absolute;
  bottom: -6px;
  left: -6px;
  padding: 3px 8px 2px 8px;
  color: #fff;
  background-color: rgb(195, 235, 20);
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
}
